.input_wrapper {
  --tasklens-app-input-wrapper: 1;
}

.input_full_width :global(.input) {
  width: 100%;
}

.input_large :global(.input) {
  font-size: 1.125rem;
}

.input_monospace :global(.input) {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1rem;
}

.textarea_wrapper {
  --tasklens-app-textarea-wrapper: 1;
}

.textarea_full_width :global(.textarea) {
  width: 100%;
}
