.error_alert {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.error_details {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 0.875rem;
  overflow-wrap: break-word;
  line-height: 1.625;
  width: 100%;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: currentColor;
  margin-block: 0;
  opacity: 0.2;
}

.help_text {
  font-size: 0.875rem;
  opacity: 0.9;
}
