.row_root {
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  border-bottom: 1px solid var(--app_border);
  padding-right: 0.5rem;
  transition-property: all;
}

.row_highlighted {
  animation: flash-yellow 2s ease-out;
}

@keyframes flash-yellow {
  0% {
    background-color: rgba(255, 255, 0, 0.4);
  }
  100% {
    background-color: transparent;
  }
}

.chevron_container {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.spacer_w10 {
  width: 2.5rem;
}

.icon_sm {
  width: 1rem;
  height: 1rem;
}

.checkbox_custom {
  cursor: pointer;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.urgency_badge {
  margin-left: 0.5rem;
}

.title_base {
  flex-grow: 1;
  cursor: pointer;
}

.title_done {
  text-decoration: line-through;
  color: var(--app_text);
  opacity: 0.5;
}

.text_error {
  color: var(--secondary-error-color);
  font-weight: 500;
}

.text_warning {
  color: var(--primary-warning-color);
}

.text_normal {
  color: var(--app_text);
}

.due_date {
  font-size: 1rem;
  color: var(--app_text);
  opacity: 0.5;
  margin-left: 0.5rem;
}

.actions_container {
  display: flex;
  gap: 0.25rem;
  opacity: 0;
  transition: opacity 0.2s;
  margin-left: 0.5rem;
}

.row_root:hover .actions_container {
  opacity: 1;
}
