.page_container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
}

.input_section {
  margin-bottom: 1.5rem;
}

.empty_state_container {
  padding: 2rem;
  text-align: center;
}

.empty_state_text {
  color: var(--app-text);
  opacity: 0.6;
  margin-bottom: 1rem;
}
