.settings_header {
  display: flex;
  align-items: center;
  gap: var(--app_spacing_sm);
  margin-bottom: 1rem;
}

.settings_title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: var(--app_text);
}

.settings_body {
  padding-top: 0;
  padding-bottom: 1rem;
}
