name: CI

on:
  push:
    branches: ['main', 'view']
  pull_request:
    branches: ['main', 'view']

jobs:
  build:
    name: Build, Lint, and Test
    runs-on: ubuntu-latest

    env:
      TURBO_CACHE_DIR: .turbo
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Cache Turbo
        uses: actions/cache@v5
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ runner.os }}-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Biome Check
        run: pnpm lint

      - name: Build
        run: pnpm build

      - name: Cache Playwright binaries
        uses: actions/cache@v5
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install Playwright Browsers
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: pnpm --filter client exec playwright install chromium --with-deps

      - name: Test
        run: pnpm test

      - name: E2E Tests
        run: pnpm test:e2e
