name: CI

on:
  push:
    branches: ['main', 'view']
  pull_request:
    branches: ['main', 'view']

jobs:
  build:
    name: Build, Lint, and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Biome Check
        run: pnpm lint

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test

      - name: Install Playwright Browsers
        run: pnpm --filter client exec playwright install chromium --with-deps

      - name: E2E Tests
        run: pnpm --filter client test:e2e
